[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
tiktoken = "*"
environs = "*"
pymupdf = "*"
faiss-cpu = "*"
pypdf2 = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
